.theme-atom-material-syntax {
  atom-text-editor {
    color: #dbeded !important;
    text-rendering: optimizeLegibility;

    &.editor .syntax--string.syntax--quoted,
    &.editor .syntax--string.syntax--regexp {
      -webkit-font-feature-settings: "liga" off, "calt" off;
    }

    .line-number {
      color: #546e7a !important;

      &.cursor-line {
        color: #698a98 !important;
      }
    }

    .cursor {
      border-left-width: 2px;
      border-left-color: #4bb4e8;
      transition: opacity 0.5s;
    }

    .selection .region {
      background-color: rgba(17, 125, 175, 0.5);
    }

    .syntax--keyword {
      font-weight: 600;
    }

    .syntax--ruby {
      &.syntax--symbol {
        color: #ff7f68 !important;

        .syntax--punctuation {
          color: #ff7f68 !important;
        }
      }
    }

    .syntax--regexp {
      &.syntax--section {
        color: #1affa3 !important;
      }

      .syntax--escape {
        color: #1affa3 !important;
      }
    }
  }

  atom-panel {
    &.modal {
      &:after {
        background-color: rgba(5, 25, 35, 0.7);
      }
    }
  }

  .tab {
    .icon {
      &:before {
        left: -5px;
        top: 1px;
      }
    }
  }
}
